.Wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1920px;
    max-height: 823px;
    padding: 2rem 0rem;
}


.formular{
    width: 25%;   
    margin-left: 10%;
}

.full-width{
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    margin-top: 5%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}