.div-container{
    display: grid;
    margin-top: 5%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 5fr;
    grid-template-areas: "toggle-button" "formular media";
}

.toggle-button{
    grid-area: "toggle-button";
    background-color: aqua;
}

.formular{
    grid-area: "formular";
    background-color: aquamarine;
}

.media{
    background-color: blue;
    grid-area: "media";
}

.div-child{
    margin-right: 2%;
    width: 100%;
    background-color: white;
}


input, select, textarea{
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 2%;
    width: 100%;
    background-color: white;
    border: 1px;
    border-style:solid;
}

button{
    background-color: #111111;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    border: solid #111111;
    margin-left: 25%;
    padding: 2%;
}


@media only screen and (max-width: 1000px){
    .img_game{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .img_game{
        display: none;
    }
}