nav{
    background-color: rgb(36, 36, 36);
    width: 60%;
    height: 50px;
    padding: 0 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 16.5px;
}
nav ul{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    margin-top: 18px;
}
nav li{
    margin-left: 20px;
}
nav .logo{
    margin-top: 5px
}
.logo{
    background-color: blue;
    width: 80px;
    height: 40px;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:hover{
    color: rgb(197, 197, 197);
}

@media only screen and (max-width: 850px){
    nav ul{
        width: 100px;
        height: 100%;
        flex-direction: column;
    }
}