.text-box{
    width: calc(100% - 30px);
    min-height: 100px;
    margin:  auto;
}

.title, .sub-title, .text{
    font-weight: normal;
    margin: 0;
}

.title{
    font-size: 23px;
    margin: 40px 0 20px;
    text-align: center;
}

.sub-title{
    font-size: 20px;
    margin: 16px 0 5px 5px;
}

.text{
    font-size: 16px;
    margin-top: 5px;
}
.list li{
    line-height: 30px;
}